<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost/ultra/assets/css/styles.css">
  <title>Document</title>
</head>

<body>
  <div class="box_login">
    <h1>Faça seu login</h1>

    <form method="POST" action="/ultra/login/check">
      <input type="email" name="e-mail" placeholder="E-mail">
      <input type="password" name="password" placeholder="Senha">

      <button class="btn_login">Logar</button>
      <span class="msg_error">Tentativa Inválida</span>
    </form>
  </div>
</body>

</html>