* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #eff3fb;
}

header {
  background: #d4a754;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.content_area {
  width: 1100px;
  margin: 0 auto;
}

.content_area a {
  float: right;
  color: #fff;
  text-decoration: none;
}

.content_area a:hover {
  color: #929292;
}

h1 {
  text-align: center;
  color: #010204;
}

.box_dash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.box_dash button {
  border: none;
  border-radius: 10px;
  background: #c84832;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.box_dash button:hover {
  background: #6d271b;
}

table {
  flex: auto;
  width: 800px;
  text-align: center;
}

table thead {
  color: #010204;
  background: #eff4d2;
}
